/* GENERAL CSS SETTINGS START HERE */
:root {
  --main-text-color: #E75480;
  --secondary-text-color: #333333;
}

html, body {
  /* Removes the default body margin */
  margin: 0; 
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #faf8f5;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

/* GENERAL CSS SETTINGS END HERE */

/* NAVIGATION BAR CSS SETTINGS START HERE */
.logo {
    font-size: 1.5rem;
    
    color: #faf8f5;
}

nav {
    /* The nav settings, it uses flexbox to fit the contents in the navigation bar */
    padding: 1rem 2rem;
    z-index: 2;
    margin: 0 auto;
}
  
.nav-links {
  /* The main navigation links, arranged using flexbox */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socials {
  /* The social media shortcuts in the top-right of the screen */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.socials > i:hover {
  color: var(--main-text-color);
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-text-color);
}
  
/* Hamburger button styles */
.burger {
  /* Initially hidden on devices with a larger width */
  display: none;
  flex-direction: column;
  cursor: pointer;
}
  
.line1, .line2, .line3 {
  /* The three lines that compose the hamburger button */
  width: 25px;
  height: 3px;
  margin: 3px 0;
  /* Makes the transition from the hamburger to the X smooth */
  transition: 0.4s;
  color: black;
  background-color: black;
}

.nav-links li {
  padding-right: 40px;
}

.nav-links a:hover {
  color: var(--main-text-color);
}

/* NAVIGATION BAR CSS SETTINGS END HERE */


/* MAIN CONTENT CSS SETITNGS START HERE */

.background-img {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: 0;
  position: relative;
  top: -100px;
  z-index: -1;
  background-color: #faf8f5;
}
/* Wrapper for the main section of the page */
.main-content {
  width: 100%;
  height: 100%;
  position: relative;
  top: -700px;
  background-color: #faf8f5;
}

/* Wrapper for the picture + small about info that appear on the page */
.about-info {
  background-color: #faf8f5;
  width: 60%;
  margin: 0 auto;
  height: auto;
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  box-shadow: 3px 3px 5px 5px rgba(0,0,0,.3);
  border-radius: 10px;
  border: 1px solid var(--secondary-text-color);;
  min-width: 300px;
  overflow: hidden;
}

/* The 2 containers that represent the image and the small about section */

.picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: auto 40px;
  box-shadow: 1px 1px 7px 3px rgba(0,0,0,.3);
  object-fit: contain;
}

.separator {
  height: 90%;
  margin: auto 0;
  width: 1px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0 0 7px 3px rgba(0,0,0,.1);
}

.flex-container2 {
  width: 50%;
  margin: auto 40px;
  overflow: auto;
  color: var(--secondary-text-color);;
}

/* The container that keeps the portfolio contents */
.work {
  width: 90%;
  height: auto;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* The class set for each of the elements of the portfolio itself */

.card {
  width: 400px;
  height: 400px;
  margin: 10px;
  position: relative;
}

.pic {
  width: 400px;
  height: 400px;
  object-fit: scale-down; 
  transition: 0.3s;
}

.pic-hover {
  transform: scale(1.03);
  transition: 0.3s;
  cursor: pointer;
}

.description {
  visibility: hidden;
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.description-title {
  height: 100px;
}

.description-content {
  font-size: 1em;
  text-align: center;
  padding: 0 30px;
}

.description-show {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.03);
}

.description-hide {
  visibility: hidden;
  opacity: 0;
  transform: scale(1);
  transition: 0.3s;
}

.img-hover {
  transform: scale(1.03);
}

/* MAIN CONTENT CSS SETITNGS END HERE */

/* FOOTER CSS SETITNGS START HERE */
footer {
  background-color: #faf8f5;
  margin: 0 auto;
  padding: 40px;
  text-align: center;

}
/* FOOTER CSS SETITNGS END HERE */

/* MEDIA QUERIES FOR SMALLER DEVICE WIDTHS SECTION STARTS HERE*/
@media (max-width: 768px) {
  /* NAV CSS SETTINGS START HERE */
  .nav {
    padding: 0;
  }

  /* SOCIAL BUTTONS WON'T APPEAR ON SMALLER SCREENS (FOR NOW) */
  .socials {
      display: none;
  }

  /* BURGER BUTTON APPEARS, SETTINGS FOR IT AND IT'S CHILDREN ARE BELOW */
  .burger {
    display: flex;
    z-index: 1;
  }
  
  .burger.active .line1 {
    /* Changes the position of the line so that it forms an X, that closes the navigation when pressed, for line 1/3 */
    transform: rotate(-45deg) translate(-6.5px, 6px);
    background-color: white;
  }

  .burger.active .line2 {
    /* Line 2/3 will be hidden when the burger button is pressed (active) */
    opacity: 0;
  }

  .burger.active .line3 {
    /* Changes the position of the line so that it forms an X, that closes the navigation when pressed for line 3/3 */
    transform: rotate(45deg) translate(-6.5px, -6px);
    background-color: white;
  }

  .nav-links {
    /* puts the navigation outside of the viewport so it can then be moved when the burger button is pressed */
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 1;
  }

  /* fixes an issue where the nav links would appear when the menu transition happened */
  .nav-links li {
    display: none;
  }

  /* the navigation will be displayed differently when the burger button is pressed, this is the bit of code that does that */
  .nav-links.active {
    right: 0;
    top: -1rem;
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 15%;
    
  }

  .nav-links.active li > * {
    color: white;
  }

  .nav-links.active li:hover {
    background-color: var(--main-text-color);
  }

  .nav-links.active li {
    padding: 5% 0 5% 0;
    /* reverts the display: none */
    display: block;
  }

  /* NAV CSS SETTINGS END HERE */

  /* MAIN CONTENT CSS SECTION STARTS HERE*/
  /* MAIN CONTENT CSS SECTION ENDS HERE*/
}

@media (max-width: 1300px){
  .separator {
    height: 1px;
    width: 90%;
    margin: 50px auto 0 auto;
  }

  .about-info {
    background-color: #F5F5F5;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,.5);
    margin-bottom: 0;
    border-radius: 10px;
  }

  .picture {
    margin-top: 40px;
    object-fit: contain;
  }

  .flex-container2 {
    width: 80%;
    margin: 40px auto;
  }

}
/* MEDIA QUERIES FOR SMALLER DEVICE WIDTHS SECTION ENDS HERE*/


/* CONTACT PAGE CSS STARTS HERE */
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  margin: 60px auto;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 60px auto;
  min-width: 600px;
}

.name {
  display: flex;
  flex-direction: row;
}

.input-box {
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  background-color: white;
  border: 1px solid var(--secondary-text-color);
}

.input-box:focus {
  outline: none !important;
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
}

.input-box:focus::placeholder {
  color: transparent;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container > label {
  margin-bottom: 5px;
}

.main-container {
  width: 70%;
  padding: 30px 0 0 0;
}

.name > *{
  width: 45%;
}

.name > .input-container:nth-of-type(2) {
  margin-left: 10%;
}

.message > textarea {
  height: 80px;
  padding-top: 5px;
}

.submit-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-text-color);
  color: white;
  font-weight: bold;
  border: none;
  margin-bottom: 60px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #eb658d;
}

@media screen and (max-width: 768px) {
  .container {
    width: 60%;
    min-width: 400px;
  }

  .contact-form {
    width: 60%;
    min-width: 400px;
  }

  .name {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .name > .input-container:nth-of-type(2) {
    margin-left: 0;
    padding-top: 30px;
  }

  .first-name, .last-name {
    width: 100%;
  }
  
}

/* CONTACT PAGE CSS ENDS HERE */